#hour,#min,#sec,#day {
	float:left;
	padding:5px;
	width:48px;
	height:55px;
	position:relative;
	display:inline-block;
}
			
p-p {
	margin:0px;
	padding:7px;
	width:24px;
	height:55px;
	float:left;
	color:#ffffff;
	font-size:3em;
	font-weight:bold;
	position:absolute;
}
#sec1,#min1,#hour1,#day1 {
	margin-left:24px;
}
#timer {
	float:left;
	right: 40%;
	background-color:#00BF96;
	-moz-border-radius:10px;
	height:65px;
	width:374px;
	padding:40px;
	position:absolute;
	display: inline-block;
}		
#clock {
	border:1px solid white;
	-moz-border-radius:10px;
	height:65px;
	width:330px;
	background-color:#00816A;
	padding:40px;
	position:relative;
	display: inline-block;
}
#razd {
	float:left;
	color:#ffffff;
	font-weight:bold;
	font-size:3em;
	margin:0px 3px 0px 3px;
	padding:7px;
	position:relative;
	display:inline-block;
}
#stop {
	color:white;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}